body{background-color: black;}
h1{text-align: center;
    color: darkred;
    border-style: dashed;
    border-width: 10%;
    border-color: white;
    border-left: 10%;
    border-right: 10%;
}
h2{color:white;
    margin-left: 5%;
}
h3{margin-left: 5%;
    color: white;
}
#ima2 {margin-left: 10%;
    width: 60%;
    border-width: 5%;
    border-style: dashed;
    border-color: darkcyan;
}
#ima1 {width: 40%;
    margin-left: 30%;
    border-color: darkturquoise;
    border-width: 50%;
    border-style: dashed;
}