body{background-color: blueviolet;
}
h1{text-align: center;
color: darkred;
border-width: 10px ;
border-color: brown;
border-style: initial;
margin-left: 10%;
margin-right: 10%;
padding-left: 10%;
padding-top: 1%;
padding-bottom: 1%;
}
h2{margin-left: 12%;
margin-right: 10%;
}
h3{margin-left: 12%;
margin-right: 10%;
}
#ima2 {border-width: 10px;
   border-color: brown;
    border-style: dashed;
    margin-left: 12%;
    margin-right: 10%;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom:1%;
}
#ima1 {border-width: 10px;
    border-color: brown;
    border-style: dotted;
    margin-left: 12%;
    margin-right: 10%;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom:1%;
}
